<script setup lang="ts">
  import { ref } from 'vue'
  import Logo from '@/components/LogoImage.vue'
  import IconUser from '@/components/icons/UserIcon.vue'
  import IconPasswordHide from '@/components/icons/PasswordHideIcon.vue'
  import IconPasswordShow from '@/components/icons/PasswordShowIcon.vue'
  import ErrorMessage from '@/components/ErrorMessage.vue'
import axios from 'axios'
import router from '@/router'

  const showPassword = ref(false);
  const errorMessage = ref('');
  const username = ref('');
  const password = ref('');
  
  const login = async ()=>{
    try {
      errorMessage.value = ''
      const { data } = await axios.post('/login',{ username: username.value, password: password.value })
      localStorage.setItem('commerceId',data.id);
      router.push({ name: 'payment' })
    } catch (error:any) {
      errorMessage.value = error.response.data
      localStorage.removeItem('commerceId');
    }
  }
</script>

<template>
<div class="flex items-center justify-center h-[90vh]">
  <div class="w-full mx-auto p-8">
    <Logo/>
    <div class="flex items-center justify-center">
      <div class="bg-white rounded-lg overflow-hidden shadow-xl w-full max-w-xs">
        <div class="p-4 sm:p-6 lg:p-8 text-gray-500">
          <div class="text-center">
            <h3 class="text-lg leading-6 font-medium">Iniciar sesión</h3>
          </div>
          <div class="mt-6 space-y-6">
            <div>
              <label for="username" class="block text-sm font-medium">Usuario</label>
              <div class="mt-1 flex justify-end items-center relative">
                <input v-model="username" id="username" name="username" type="text" autocomplete="username" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-brand-purple focus:border-brand-purple sm:text-sm">
                <IconUser class="absolute mr-2"/>
              </div>
            </div>
            <div>
              <label for="password" class="block text-sm font-medium">Contraseña</label>
              <div class="mt-1 flex justify-end items-center relative">
                <input v-model="password" id="password" name="password" :type="showPassword? 'text' : 'password'" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-brand-purple focus:border-brand-purple sm:text-sm">
                <div @click="showPassword = !showPassword" class="absolute mr-2 cursor-pointer">
                  <IconPasswordHide v-show="!showPassword"/>
                  <IconPasswordShow v-show="showPassword"/>
                </div>
              </div>
            </div>
            <div>
              <button @click="login" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-brand-purple hover:bg-brand-purple_light focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-purple_light">
                Continuar
              </button>
              <ErrorMessage :message="errorMessage" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</template>