<script setup lang="ts">
  import { reactive, ref } from 'vue'
  import Logo from '@/components/LogoImage.vue'
  import IconAmex from '@/components/icons/AmexIcon.vue'
  import IconVisa from '@/components/icons/VisaIcon.vue'
  import IconMasterCard from '@/components/icons/MasterCardIcon.vue'
  import IconClipboard from '@/components/icons/ClipboardIcon.vue'
  import IconClipboardCopied from '@/components/icons/ClipboardCopiedIcon.vue'
  import ErrorMessage from '@/components/ErrorMessage.vue'
  import { toCurrencyFormat } from '@/utils/formatter'
  import { copyToClipboard, validateCardType } from '@/utils/helpers'
  import axios from 'axios'
  const defaultTokenValue = 'xxxxxxxxxxxxxxxx'
  const token = ref(defaultTokenValue);
  const amount = 1;
  const card = reactive({
    numberA: '',
    numberB: '',
    numberC: '',
    numberD: '',
    expiration: '',
    cvv: ''
  })
  const email = ref('');
  const loading = ref(false);
  const errorMessage = ref('');
  const copied = ref(false)

  const cardNumberA = ref<null | { focus: () => null }>(null);
  const cardNumberB = ref<null | { focus: () => null }>(null);
  const cardNumberC = ref<null | { focus: () => null }>(null);
  const cardNumberD = ref<null | { focus: () => null }>(null);
  const emailRef = ref<null | { focus: () => null }>(null);
  const cvvRef = ref<null | { focus: () => null }>(null);

  const processCardNumber = {
    A: () => {
      card.numberA = card.numberA.replace(/[^0-9]/g, "")
      if(card.numberA.length === 4) cardNumberB.value?.focus();
    },
    B : () => {
      card.numberB = card.numberB.replace(/[^0-9]/g, "")
      if(validateCardType.amex(card.numberA) ? card.numberB.length === 6 : card.numberB.length === 4) cardNumberC.value?.focus();
    },
    C : () => {
      card.numberC = card.numberC.replace(/[^0-9]/g, "")
      const isAmex = validateCardType.amex(card.numberA)
      const elementToFocus = isAmex? emailRef : cardNumberD;
      card.numberC.length === 4 && elementToFocus.value?.focus();
      card.numberD = ''
    },
    D : () => {
      card.numberD = card.numberD.replace(/[^0-9]/g, "")
      if(card.numberD.length === 4) emailRef.value?.focus();
    },
  }

  const processCardExpiration = (e: {inputType:string} | any) =>{
    card.expiration = card.expiration.replace(/[^0-9]/g, "")
    if( (card.expiration.length === 2 && e.inputType != 'deleteContentBackward') || card.expiration.length > 2) {
      card.expiration = card.expiration.substring(0, 2) + '/' + card.expiration.substring(2)
    }
    if(card.expiration.length === 5) cvvRef.value?.focus()
  }

  const generateToken = async ()=>{
    try {
      token.value = defaultTokenValue
      errorMessage.value = ''
      copied.value = false
      loading.value = true
      const config = {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('commerceId')}`
        }
      }
      const body = {
        card_number: card.numberA + card.numberB + card.numberC + card.numberD,
        cvv: card.cvv,
        expiration_month: card.expiration.split('/')[0],
        expiration_year: '20' + card.expiration.split('/')[1],
        email: email.value
      }
      const { data } = await axios.post('/token', body, config)
      token.value = data.token;
    } catch (error:any) {
      errorMessage.value = error.response.data
    }
    loading.value = false;
  }

  const copyTokenToClipboard = () => {
    token.value!=defaultTokenValue && copyToClipboard(token.value)
    copied.value = true
  }

</script>

<template>
  <div class="flex items-center justify-center h-[90vh]">
    <div class="w-full mx-auto p-8">
      <Logo/>
      <div class="flex items-center justify-center">
        <div class="bg-white rounded-3xl shadow-xl w-full max-w-md">
          <div class="flex bg-brand-green rounded-t-3xl">
            <div class="text-center w-1/2 p-3 rounded-t-3xl bg-white">
              <h3 class="text-md font-medium">Realizar pago</h3>
            </div>
            <div @click="copyTokenToClipboard" class="text-center w-1/2 p-3 flex flex-row cursor-pointer">
              <h3 class="text-sm text-white">
                Token: {{token}}
              </h3>
              <IconClipboard v-show="token!=defaultTokenValue && !copied" class="text-white ml-1"/>
              <IconClipboardCopied v-show="token!=defaultTokenValue && copied" class="text-white ml-1"/>
            </div>
          </div>
          <div class="p-4 sm:p-6 lg:p-8 text-gray-500 relative">
            <form @submit.prevent="generateToken">
              <div class="my-6 space-y-6">
                <div>
                  <label for="card" class="block text-xs">Número de tarjeta</label>
                  <div id="card" class="flex items-center">
                    <div class="flex justify-between items-center w-2/3 text-xs sm:text-base">
                      <input type="text" v-model="card.numberA" @input="processCardNumber.A()" class="w-1/5 border-b border-brand-green" required ref="cardNumberA">
                      <input type="text" v-model="card.numberB" @input="processCardNumber.B()" :class="validateCardType.amex(card.numberA) ? 'w-[29%]' : 'w-1/5'" class="border-b border-brand-green" required ref="cardNumberB">
                      <input type="text" v-model="card.numberC" @input="processCardNumber.C()" class="w-1/5 border-b border-brand-green" required ref="cardNumberC">
                      <input type="text" v-model="card.numberD" @input="processCardNumber.D()" v-if="!validateCardType.amex(card.numberA)" class="w-1/5 border-b border-brand-green" ref="cardNumberD" required>
                    </div>
                    <div class="flex items-center px-3 justify-between w-1/3">
                      <IconAmex :is-active="validateCardType.amex(card.numberA)"/>
                      <IconVisa :is-active="validateCardType.visa(card.numberA)"/>
                      <IconMasterCard :is-active="validateCardType.mastercard(card.numberA)"/>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="flex items-center justify-between">
                    <div class="text-xs w-3/5">Correo</div>
                    <div class="text-xs w-1/6 text-center">Vcto.</div>
                    <div class="text-xs w-[10%] text-center">CVV</div>
                  </div>
                  <div class="flex items-center justify-between text-xs">
                      <input v-model="email" id="email" name="email" type="email" autocomplete="email" required class="w-3/5 border-b border-brand-green shadow-sm" ref="emailRef">
                      <input v-model="card.expiration" @input="processCardExpiration($event)" type="text" required class="w-1/6 border-b border-brand-green shadow-sm text-center">
                      <input v-model="card.cvv" @input="() => card.cvv = card.cvv.replace(/[^0-9]/g, '')" type="text" required class="w-[10%] border-b border-brand-green shadow-sm text-center" ref="cvvRef" :maxlength="validateCardType.amex(card.numberA) ? '4' : '3'" :pattern="validateCardType.amex(card.numberA) ? '[0-9]{4}' : '[0-9]{3}'">
                  </div>
                </div>
              </div>
              <ErrorMessage :message="errorMessage" />
              <button type="submit" class="absolute -bottom-5 right-8 sm:right-12 bg-brand-green hover:bg-brand-green_light focus:bg-brand-green_light text-white text-sm py-2 px-4 rounded-full shadow-lg">
                Pagar {{ toCurrencyFormat(amount) }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

  input {
    font-family: 'Orbitron', sans-serif;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button,
  input:focus {
    -webkit-appearance: none;
    outline: none;
    margin: 0;
  }
</style>