<script setup lang="ts">
    import { ref } from 'vue'
    import Logo from '@/components/LogoImage.vue'
    import Wireless from '@/components/icons/WirelessIcon.vue'
    import Chip from '@/components/icons/ChipIcon.vue'
    import Visa from '@/components/icons/VisaIcon.vue'
    import Find from '@/components/icons/FindIcon.vue'
    import Amex from '@/components/icons/AmexIcon.vue'
    import MasterCard from '@/components/icons/MasterCardIcon.vue'
    import ErrorMessage from '@/components/ErrorMessage.vue'
    import { validateCardType } from '@/utils/helpers'
    import axios from 'axios'

    const token = ref('');
    const defaultCardNumber = '**** **** **** ****';
    const cardNumber = ref(defaultCardNumber);
    const defaultExpiration = 'xx/xx';
    const expiration = ref(defaultExpiration);
    const errorMessage = ref('');

    const addSpacesToCard = (card: string) => {
        const splittedCard = card.split('');
        splittedCard.splice(4, 0, " ");
        splittedCard.splice(-4, 0, " ");
        if(!validateCardType.amex(card)) splittedCard.splice(9, 0, " ")
        return splittedCard.join("");
    }
    const getCardInfo = async ()=>{
        if(!token.value) return
        try {
            errorMessage.value = ''
            cardNumber.value = defaultCardNumber
            expiration.value = defaultExpiration
            const config = {
                headers: {
                Authorization: `Bearer ${localStorage.getItem('commerceId')}`
                }
            }
            const { data } = await axios.get(`/token/${token.value}`,config)
            cardNumber.value = addSpacesToCard(data.card_number);
            expiration.value = `${data.expiration_month}/${data.expiration_year.slice(2)}`
        } catch (error:any) {
            errorMessage.value = error.response.data
        }
    }
    
</script>

<template>
    <div class="flex items-center justify-center h-[90vh]">
        <div class="w-full mx-auto">
            <div class="flex items-center justify-center">
                <div class="bg-white rounded-3xl shadow-xl w-full max-w-md p-4 sm:p-8">
                    <div class="w-full pb-4 flex">
                        <input v-model="token" type="text" placeholder="Pegar token aquí" class="appearance-none block w-4/5 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-brand-orange focus:border-brand-orange sm:text-sm">
                        <button @click="getCardInfo" class="w-1/5 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-brand-orange hover:bg-brand-orange_light focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-orange_light">
                            <Find/>
                        </button>
                    </div>
                    <div
                        class="rounded-2xl font-mono text-white w-full h-full flex flex-col justify-center p-5 bg-gradient-to-tr from-gray-900 to-gray-700">

                        <div class="flex justify-between items-center">
                            <div>
                                <Logo class="px-0 py-0 mb-2 scale-125"/>
                                <Chip class="px-0 py-0 mb-2"/>
                            </div>
                            <Wireless/>
                        </div>

                        <div class="card-number w-full text-center mt-2">{{cardNumber}}</div>

                        <div class="w-full flex justify-between">

                            <div class="w-3/4">
                                <div class="w-full flex justify-end">
                                    <div class="text-xs p-1">Vence</div>
                                    <div>{{ expiration }}</div>
                                </div>
                                <div class="w-full flex flex-col">
                                    <div class="ml-6 text-lg tracking-widest">JOHN DOE</div>
                                </div>
                            </div>
                            <div class="w-1/4 mt-8">
                                <Visa v-show="validateCardType.visa(cardNumber)" class="w-16" :is-active="false"/>
                                <Amex v-show="validateCardType.amex(cardNumber)" class="w-16" :is-active="false"/>
                                <MasterCard v-show="validateCardType.mastercard(cardNumber)" class="w-16" :is-active="false"/>
                            </div>
                        </div>
                    </div>
                    <ErrorMessage :message="errorMessage" />
                </div>
            </div>
        </div>
    </div>
</template>


<style>
.card-number {
    font-family: Share Tech Mono;
    color: transparent;
    text-shadow: -2px -2px 2px rgba(255, 255, 255, 1),
        1px 1px 1px rgba(0, 0, 0, 0.9),
        2px -2px 4px rgba(255, 255, 255, 1),
        -2px -2px 2px rgba(0, 0, 0, 0.9),
        -2px 2px 1px rgba(0, 0, 0, 0.9);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 1.9rem;
}
</style>