<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <nav class="w-full flex justify-center">
    <div class="w-full max-w-[220px] text-white flex items-center justify-between">
      <RouterLink class="text-lg p-2 border-b-2 border-brand-purple" to="/login" active-class="font-semibold !border-b-4">Login</RouterLink>
      <RouterLink class="text-lg p-2 border-b-2 border-brand-green" active-class="font-semibold !border-b-4" to="/pago">Pago</RouterLink>
      <RouterLink class="text-lg p-2 border-b-2 border-brand-orange" active-class="font-semibold !border-b-4" to="/consulta">Consulta</RouterLink>
    </div>
  </nav>

  <RouterView />
</template>

<style scoped>
</style>
